.lists {
    display: flex;
    flex-direction: row wrap;
}

.list {
    width: 100%;
} 

.list-check-images {
    margin-left: 10px;
}

.card-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.card-title {
    flex: 1 100%;
    order: 1;
}

.card-count {
    flex: 0 5%;
    order: 2;
}

.card-text {
    flex: 2;
    order: 3;
}

.card-image {
    flex: 1;
    order: 4;
}

@media (max-width: 600px) 
{
    .card-wrapper  
    {
        flex-flow: column wrap;
    }

    .card-title {
        flex: 1;
        order: 1;
    }

    #card-list {
        display: none;
    }
}
