body {
    font-family: Roboto;
}

.title {
    display: flex;
    line-height: 0;
}

.sub-title {
    font-size: 10px;
}

.search {
    flex: 1 25%;
}

.deck {
    flex: 1 50%;
}

.deck-list {
    flex: 1 25%;
}

.lists {
    display: flex;
    flex-direction: row wrap;
}

.list {
    width: 100%;
} 

.deck-name {
    padding-top: 20px;
    padding-bottom: 15px;
    line-height: 3
}

.deck-active {
    background-color:black;
    color: white;
}

.deck-name-input {
    font-size: 24;
}


.list-header {
    padding: 5px;
    /*border: 1px solid blueviolet;*/
}

.list-header-type {
    margin-left: 2%;
    font-weight: bold;
    /*border: 1px solid blueviolet;*/
}

.list-header-subtotal {
    font-weight: bold;
    /*border: 1px solid blueviolet;*/
}

.list-check-image {
    margin-left: 10px;
}

.list-check-text {
    margin-left: 10px;
}

.deck-wrapper {
    padding: 5px;
    display: flex;
    /*border: solid 1px blue;*/
}

.deck-wrapper:hover {
    background-color: #cacaca;
    display: flex;
    /*border: solid 1px blue;*/
}

.deck-title {
    flex: 1 100%;
    order: 1;
    /*border: solid 1px green;*/
}

.card-wrapper {
    padding: 5px;
    display: flex;
    /*border: solid 1px blue;*/
}

.card-wrapper:hover {
    background-color: #cacaca;
    display: flex;
    /*border: solid 1px blue;*/
}

.card-title {
    flex: 2 95%;
    order: 2;
    /*border: solid 1px green;*/
}

.card-count {
    flex: 1 5%;
    order: 1;
    /*border: solid 1px red;*/
}

.card-text {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5px;
    flex: 2;
    order: 3;
}

.card-image {
    flex: 1;
    order: 4;
}

@media (max-width: 600px) 
{
    .card-wrapper  
    {
        flex-flow: column wrap;
    }

    .card-title {
        flex: 1;
        order: 1;
    }

    #card-list {
        display: none;
    }
}

.tooltip {
    position: fixed;
    display: block;
    margin-top: 30px;
}
